.body{
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #232222;
  overflow-x: hidden; /* Evitar el desplazamiento horizontal */
  margin: 0; /* Eliminar el margen del cuerpo de la página */
  padding-top: 10px;
  padding: 0; /* Eliminar el relleno del cuerpo de la página */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Epilogue, sans-serif;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

h5{
  font-size: 18px;
}
p {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  text-align:justify;
  margin:auto;
  padding-top: 10px;
}
.image-container {
  text-align: center; /* Alinea la imagen al centro */
  padding: 20px; /* Espacio de relleno alrededor de la imagen */
}

.pp {
  width: 70%;
  line-height: 1.6;
}

.cita{
  width: 60%;
  padding: 15 px;
  border: 1px solid #ccc;
  border-radius: 12px;

}

.autor{
  width: 60%;
  text-align: left;
  font-size: 13px;
}
ul {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  line-height: 3;
  width: 50%;
  /*Centers the list*/
  margin: 0 auto;
}

#weapon{
  padding-left: 160px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  text-justify:'auto';
}
#maincontainer  {   
top:10px;
padding-top:10px;
padding-left:20px;
padding-right:20px;
margin:auto; 
position:relative;
align-items: center;
align-content: center;
}
  
.tab-menu {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  padding-bottom: 20px;
  align-content: center;
  text-align: center;
}

.paragraph{
  background-color: #f2f2f2;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  
  }

#TableOfContents{
  background-color: #f2f2f2;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 5px;
  
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  }

#TableOfContents ul {
  margin: auto;
  padding-left: 30px; /* Ajusta el valor según tus necesidades */
  width: 70%;
  line-height: 2;
  text-align: justify;
}

#TableOfContents ul ul {
  padding-left: 20px; /* Ajusta el valor según tus necesidades */
  width: 100%;
  line-height: 2;
}

#Table{
  width: 100%;
  margin: 0;
  padding: 10px;
}

.level2{
  padding: 5px;
}
.content2{
  margin: 0;
}

.content{
  margin: 0;
  line-height: 1.5;
  
}
.tab-menu li {
  font-family: 'Epilogue', sans-serif;
  
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.toc-list, .toc-list ol {
  list-style-type: none;
}

.toc-list {
  padding: 0;
}

.toc-list ol {
  padding-inline-start: 2ch;
}

.content li {
  font-family: 'Epilogue', sans-serif;
  
  align-items: center;
}
li::marker {
  font-family: 'Epilogue', sans-serif;
  font-size: 90%;
  font-weight: bold;
  margin-left: 12ch;
}
a {
  font-family: 'Epilogue', sans-serif;
  padding: 0px;
  display: inline-block;
}
b {
  font-weight: bold;
}

table {
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;
      padding: 10px;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
      table-layout: auto;
  }
  
th {
  font-family: 'Epilogue', sans-serif;
  font-size: 13px;
  background-color: lightblue;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid black;
  border-right: 1px solid black; /* Nuevo estilo */
  position: sticky;
  top: 0;
  z-index: 1
}

td {
  font-family: 'Epilogue', sans-serif;
  font-size: 13px;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black; /* Nuevo estilo */

}

.box {
  padding: 1rem;
  max-height: 220px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
/* Estilos para navegadores basados en WebKit (Chrome, Safari) */
.table-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la scrollbar */
  border-radius: 4px; /* Borde redondeado */
  background-color: #F2F2F2; /* Color de fondo */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #8CB2FF; /* Color del pulgar */
  border-radius: 4px; /* Borde redondeado */
}

/* Estilos para navegadores basados en Firefox */
.table-container {
  scrollbar-width: thin;
  scrollbar-color: #8CB2FF #F2F2F2;
}

.table-container::-moz-scrollbar-thumb {
  background-color: #8CB2FF; /* Color del pulgar */
  border-radius: 4px; /* Borde redondeado */
}

.table-container::-moz-scrollbar-track {
  background-color: #F2F2F2; /* Color de fondo */
  border-radius: 4px; /* Borde redondeado */
}


th:last-child,
    td:last-child {
        border-right: none;
    }
tr:last-child td {
  border-bottom: none;

}

.table-container {
  max-height: 500px; /* ajusta este valor según el tamaño máximo deseado */
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* ajusta este valor según el ancho deseado */
}


.tab-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
  
  width: auto;
  align-content: center;

}
.tab-content .plotly-graph-div {
      max-width: 100%;
      height: auto ;
      width: auto;
      padding-top: 30px;
    }
.plot-container{
  padding-top: 30px;
}
.tab-content.kill-chain {
      max-width: 100%;
      height: 200% ;
      width: auto;
    }
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
}
.parent .row{
    width:100%;
    overflow: hidden;
}
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
}

#scroll-to-top.show {
  display: block;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80%;
  width: 80%;
  overflow: hidden;
}
